{% extends "base.html"%}
{%block title%} {{block.super}}|home {%endblock title%}
{% block content %}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="/bank/cus-det/">CUSTOMER PORTAL</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" align="right">
        <form class="form-inline mt-2 mt-md-0" align="right">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/bank/cus-ben/">Add a Benificary<span class="sr-only"></span></a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/bank/cus-tra/">Transfer funds to Beneficiary</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">View account statement</a>
        </li>
      </ul>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/bank/logout">Logout</a>
        </li>
      </ul>
</nav>

  </div>
</div>



        <main  >
        <h2>Bank Details</h2>
        <div class="table-responsive">
          <table class="table table-striped" align="center" style="width:50%">
            <tbody>
                  <tr>
                    <td>ACCOUNT NUMBER</td>
                    <td>{{obj.cus_accno}}</td>
                  </tr>
                  <tr>
                    <td>CIF NO</td>
                    <td>{{obj.cus_cifno}}</td>
                  </tr>
                  <tr>
                    <td>BANK CODE</td>
                    <td>{{obj.cus_bcode.b_code}}</td>
                  </tr>
                  <tr>
                    <td>ACCOUNT TYPE</td>
                    <td>{{obj.cus_accountType}}</td>
                  </tr>
                  <tr>
                    <td>BALANCE</td>
                    <td>{{obj.cus_balance}}</td>
                  </tr>
                  <tr>
                    <td>ACCOUNT START DATE</td>
                    <td>{{obj.cus_acc_start_date}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </main>
      </div>
    </div>

 {% endblock content%}
