{% extends "base.html"%}
{%block title%} {{block.super}}|home {%endblock title%}
{% block content %}
{%load static%}
<div class="cover-container text-center d-flex h-100 p-3 mx-auto flex-column"
style="background-image:url('{%static 'bank/bank.jpg'%}');">
<main role="main" class="inner cover">
<h1 class="cover-heading">WELCOME TO ONLINE BANKING SYSTEMS!</h1>
<p class="lead">
<div class="text-center">
<a href="bank/login/" class="btn btn-lg btn-secondary">Customer Login</a>
<a href="bank/login/" class="btn btn-lg btn-secondary">Manager Login</a>
</div>
</p>
</main>
</div>

 {% endblock content%}
